@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 66, 133, 244;
  --color-primary-lighter: 123, 170, 247;
  --color-primary-darker: 53, 106, 195;
  --color-primary-darkest: 20, 40, 73;
  --color-secondary: 190, 52, 255;
  --color-secondary-darker: 171, 47, 230;
  --color-secondary-lighter: 203, 93, 255;
  --color-black: 24, 24, 24;
  --color-dark: 32, 32, 32;
  --color-light: 240, 240, 240;
  --color-muted: 120, 120, 120;
}

body {
  overflow-x: hidden !important;
  min-width: 100% !important;
}
