@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 66, 133, 244;
  --color-primary-lighter: 123, 170, 247;
  --color-primary-darker: 53, 106, 195;
  --color-primary-darkest: 20, 40, 73;
  --color-secondary: 190, 24, 93;
  --color-secondary-darker: 152, 19, 74;
  --color-secondary-lighter: 203, 70, 125;
  --color-black: 24, 24, 24;
  --color-dark: 32, 32, 32;
  --color-light: 248, 248, 248;
  --color-danger: 200, 0, 54;
  --color-danger-dark: 160, 0, 43;
  --color-success: 5, 146, 18;
  --color-muted: 0, 0, 0, 0.5;
  --color-muted-dark: 255, 255, 255, 0.5;
}

body {
  overflow-x: hidden !important;
  min-width: 100% !important;
}

#teams::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  /* display: none !important; */
}

#teams {
  scrollbar-width: none !important;
}

button[disabled].bg-primary {
  background-color: rgb(var(--color-primary-lighter)) !important;
  cursor: default !important;
}

button[disabled].bg-primary:hover {
  background-color: rgb(var(--color-primary-lighter)) !important;
  cursor: default !important;
}

video {
  pointer-events: none;
}
